.summary-top {
    text-align: center;
    color: white;
    font-size: large;
    z-index: 10;
    position: relative;
    margin-bottom: 0px;
  }
  .nav {
    width: 100vw;
    padding: 20px 0px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    margin: 0px 15px;
    transform: scale(2);
  }