.suggestion-top {
  text-align: center;
  color: white;
  z-index: 10;
  position: relative;
}
.suggestion-header {
  margin-bottom: 5vh;
  padding: 20px 0px;
  background-color: royalblue;
  align-items: center;
}

.custom-btn {
  margin-top: 2vh;
  background: royalblue !important;
  border: 2px solid royalblue !important;
  border-radius: 3px !important;
  padding: 1vh 7vw !important;
  text-transform: uppercase;
}

.suggestion-navtop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  background-color: royalblue;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}
.suggestion-navtop svg{
position: absolute;
right: 1rem;
font-size: 25px;
}
